<!doctype html>

<html>

<head>
    <title>INVEST_CURRENCY Investigation </title>
    <script>CYTOSCAPE_SOURCE</script>
</head>

<style>
    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>

<body>
    <div id="cy"></div>
    <script>
      var cy = cytoscape({
        container: document.getElementById('cy'),
        elements: INVEST_DATA,
        style: [
        {
            selector: 'node',
            style: {
                'label': 'data(id)'
            }
        }]});
        
        cy.layout({      
            name: 'fcose',
            nodeDimensionsIncludeLabels: false,
            // Node repulsion (non overlapping) multiplier
            nodeRepulsion: node => 4500,
            // Ideal edge (non nested) length
            idealEdgeLength: edge => 50,
            // Divisor to compute edge forces
            edgeElasticity: edge => 0.45,
            // Nesting factor (multiplier) to compute ideal edge length for nested edges
            nestingFactor: 0.1,
            // Maximum number of iterations to perform - this is a suggested value and might be adjusted by the algorithm as required
            numIter: 2500,
            // For enabling tiling
            tile: true,
        }).run();
    </script>
</body>
</html>
