<!doctype html>

<html>

<head>
    <title>INVEST_CURRENCY Investigation </title>
    <script>CYTOSCAPE_SOURCE</script>
    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <script src="https://unpkg.com/cose-base/cose-base.js"></script>
    <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>
</head>

<style>
    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>

<body>
    <div id="cy"></div>
    <script>
      var cy = cytoscape({
        container: document.getElementById('cy'),
        elements: INVEST_DATA,
        style: [
        {
            selector: 'node',
            style: {
                'content': 'data(id)',
                    width: function(ele){ return ele.degree(); },
    height: function(ele){ return ele.degree(); }
            }
        
        },
        {
            selector: 'edge',
            style: {
                'line-color': '#ccc',
                'target-arrow-color': '#ccc',
                'target-arrow-shape': 'triangle',
                'curve-style': 'bezier'
            }
        }

        ]});
        
        cy.layout({      
            name: 'fcose',
            nodeDimensionsIncludeLabels: false,
            // Node repulsion (non overlapping) multiplier
            nodeRepulsion: node => 500000,
            // Ideal edge (non nested) length
            idealEdgeLength: edge => 500,
            // Divisor to compute edge forces
            edgeElasticity: edge => 0.01,
            // Nesting factor (multiplier) to compute ideal edge length for nested edges
            nestingFactor: 0.1,
            // Maximum number of iterations to perform - this is a suggested value and might be adjusted by the algorithm as required
            numIter: 2500,
            // For enabling tiling
            tile: true,
        }).run();
    </script>
</body>
</html>
